beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2024.7.4
chardet==3.0.4
Click==7.0
Flask==2.3.2
future==0.18.3
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.4
line-bot-sdk==1.9.0
MarkupSafe==1.1.1
requests==2.32.0
soupsieve==1.9.1
urllib3==1.26.19
Werkzeug==3.0.3
